llama-index == 0.12.37
llama-index-embeddings-huggingface == 0.5.4
llama-index-llms-huggingface == 0.5.0
transformers == 4.52.3
accelerate == 1.7.0
sentence-transformers == 4.1.0
faiss-cpu == 1.11.0
torch == 2.6.0
torchaudio == 2.6.0
torchvision == 0.21.0
huggingface-hub == 0.30.2
